@import "font/aleksandrac.css";
* {
	margin:0px;
	padding:0px;
}
body {
	background: #111;
}
#menu1 {
	position: fixed;
	background:url("../img/black.png");
	background-size:100% 100%;
	height:100%;
	width: 70px;
}

#menu-but {
	width:70px;
	position:relative;
	float: right;
}

#menu-but svg {
	max-width:70px;
	height: auto;
}

.row {
	background: #999;
	display: table;
	width: 100%;
	height: auto;
}
.col-1 {width: 8.33%;display: table-cell;}
.col-2 {width: 16.66%;display: table-cell;}
.col-3 {width: 25%;display: table-cell;}
.col-4 {width: 33.33%;display: table-cell;}
.col-5 {width: 41.66%;display: table-cell;}
.col-6 {width: 50%;display: table-cell;}
.col-7 {width: 58.33%;display: table-cell;}
.col-8 {width: 66.66%;display: table-cell;}
.col-9 {width: 75%;display: table-cell;}
.col-10 {width: 83.33%;display: table-cell;}
.col-11 {width: 91.66%;display: table-cell;}
.col-12 {width: 100%;display: table-cell;}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
		display: block;
    }
}

